{% extends 'index.html' %}

{% block body %}
<div class="container">
    <h3 class="text-center">CG Registration</h3>
    <form action="\fnb\" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputFName" class="form-label">First Name</label>
            <input type="text" name="fName" class="form-control" id="exampleInputFName" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="exampleInputLName" class="form-label">Last Name</label>
            <input type="text" name="lName" class="form-control" id="exampleInputLName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputUName" class="form-label">User ID</label>
            <input type="text" name="userID" class="form-control" id="exampleInputUName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" name="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputNumber" class="form-label">Phone Number</label>
            <input type="number" name="mobileNo" class="form-control" id="exampleInputNumber">
        </div>
        <div class="mb-3">
            <label for="exampleInputPost" class="form-label">Post</label>
            <select class="form-select" name="post" aria-label="Disabled select example" id="exampleInputPost" disabled>
                <option value="1" selected>CG</option>
            </select>
        </div>
        <input type="hidden" name="orignalUserID" class="form-control" id="exampleInputorigUserID" value="{{ userID }}">
        <input type="hidden" name="post_app" class="form-control" id="exampleInputorigUserID" value="{{ post_reg }}">

        <!-- <div class="mb-3 form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div> -->
        <button name="register" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<div class="container">
    <h3 class="text-center">Vender Registration</h3>
    <form action="\fnb\" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputFName" class="form-label">Vender ID</label>
            <input type="text" name="venderID" class="form-control" id="exampleInputFName" aria-describedby="emailHelp">
            <!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> -->
        </div>
        <div class="mb-3">
            <label for="exampleInputLName" class="form-label">Password</label>
            <input type="text" name="password" class="form-control" id="exampleInputLName" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputUName" class="form-label">Contact Details</label>
            <input type="text" name="contactDetail" class="form-control" id="exampleInputUName"
                aria-describedby="emailHelp">
        </div>
        <button name="vender_reg" type="submit" class="btn btn-primary">Submit</button>
</div>

<div class="container">
    <h3>Coupon Allocation</h3>
    <form action="\fnb\" method="POST">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleInputPost" class="form-label">Vender ID</label>
            <select class="form-select" name="vName" aria-label="Disabled select example" id="exampleInputPost">
                {% for ven in vender_name %}
                <option>{{ven.venderName}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="exampleInputLName" class="form-label">No of Coupons for each CG</label>
            <input type="number" name="noCoupons" class="form-control" id="exampleInputLName"
                aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text">Total Coupon Generated = No of CG * No of coupon</div>
        </div>
        <!-- <div class="mb-3">
          <label for="exampleInputUName" class="form-label">Contact Details</label>
          <input type="text" name="contactDetail" class="form-control" id="exampleInputUName" aria-describedby="emailHelp">
      </div> -->
        <button name="coupon_reg" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


{% endblock body %}